Source: fb-prussdrv
Section: dev
Priority: extra
Maintainer: Arend Lammertink <lamare@gmail.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/fb-prussdrv-0.20160708.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/fb-prussdrv-0.20160708.git;a=summary

Package: fb-prussdrv
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, lamake, freebasic
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
